*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    background: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    padding: 100px;
}
.main-head{
    padding-bottom: 20px;
}
form{
    position: relative;
}
input[type= 'text']{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding-left: 20px;
}
input[type= 'submit'] {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding-left: 20px;
    position: absolute;
    right: 0;
    background: steelblue;
    transition: 0.2s;
    color: white;
}
input[type = 'submit']:hover{
    background: rgb(54, 112, 158);
}

.more-details div i{
    padding-right: 30px;
    width: 1.5rem;
}

@media (max-width:920px) {

    .main-container {
        padding: 0;
        width: 85%;
    }
}

@media (max-width:820px) {

    .main-container {
        padding: 0;
        width: 85%;
    }
}

@media (max-width:400px) {

    .main-container {
        padding: 30px;
    }
    .main-head{
        width: 100%;
    }
    input[type= 'text'] {
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 50px;
        padding-left: 20px;
        width: 100%;
    }
}
@media (max-width:280px) {

    .main-container {
        padding: 0;
    }
    .main-head{
        width: 100%;
    }
    input[type= 'text'] {
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 50px;
        padding-left: 20px;
        width: 100%;
        height: 35px;
    }
    input[type= 'submit'] {
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 50px;
        padding-left: 20px;
        position: absolute;
        right: 0;
        background: steelblue;
        transition: 0.2s;
        color: white;
        height: 35px;
        font-size: 10px;
    }
    .more-details div{
        font-size: 10px;
    }
    img{
        width: 50px;
    }
}